/* CSS Document */
body{
	font-family:Verdana, Geneva, sans-serif;
}
::selection{
	background-color:transparent;
}
div.pointDisplayer{
	width:65%;
	background-color:#1E1E1E;
	color:#E1E1E1;
	padding:20px 0px;
	font-size:36px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:500;
	text-align:center;
	border-radius:20px;
	margin-left:10px;
	display:inline-block;
	float:right;
	cursor:crosshair;
}
div#clickPoints{
	/*background-color:#BBBBBB;*/
	width:160px;
	vertical-align:top;
	height:70px;
	padding:2px 15px;
	display:inline-block;
	margin-right:0px;
}
div#buyCursorBtn{
	width:100px;
	height:50px;
	padding:3px 12px;
	display:inline-block;
	margin-right:8px;
}
p#buyCursorText{
	text-align:center;
	font-weight:600;
	margin-bottom:8px;
	margin-top:1px;
}
div#clickContainer{
	height:74px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
div.infoBox{
	background-color:#151515;
	padding: 10px 18px;
	border:double #666666 9px;
	border-radius:20px;
	margin-top:10px;
	font-size:16px
}
span#cursorDisplay{
	margin-right:15px;
}
.sameLine{
	display:inline;
	float:right;
}

#whyPlayInfo{
	float:right;
	width:50%;	
	display:none;
}
h1#pageTitle{
	text-align:left;
	font-weight:600;
	font-style:normal;
	font-size:36px;
	color:#333;
	display:inline-block;
}
#titlePointsContainer{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
}
.button{
	border-radius:10px;
	border:1px solid #000;
	cursor:pointer;
	-moz-user-select:none;
	background-color:#BBBBBB;
}
.buttonUnLit{
	border-radius:10px;
	border:1px solid #000;
	cursor:pointer;
	-moz-user-select:none;
	background-color:#6B3F3F;
}	
.button:hover{
	background-color:#DDDDDD;	
}
.button:active{
	background-color:#888888;	
}

.toolTipStyles{
	font-size:24px;
}